<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TechnologyAssessment.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DD28E14E2B2B7D9700F9D456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD28E1642B2B7D9B00F9D456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DD28E16E2B2B7D9B00F9D456</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
